pipeline/PL_Copy missing files from blob to blob using if else.json
{
	"name": "PL_Copy missing files from blob to blob using if else",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata sourec file list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_source_blob1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get Metadata for target files list",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_target_blob",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Source file count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata sourec file list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Source_files_Count",
					"value": {
						"value": "@{length(activity('Get Metadata sourec file list').output.childItems)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Target file count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata for target files list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Target_file_Count",
					"value": {
						"value": "@{length(activity('Get Metadata for target files list').output.childItems)}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "missing files",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Source file count",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Target file count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "missed_files",
					"value": {
						"value": "@{sub(int(variables('Source_files_Count')),int(variables('Target_file_Count')))}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "If Condition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "missing files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('missed_files'),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Finding the missing files",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get Metadata sourec file list').output.childItems",
									"type": "Expression"
								},
								"condition": {
									"value": "@not(contains(activity('Get Metadata for target files list').output.childItems,item()))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Finding the missing files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_moving files",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Missedfiles": {
										"value": "@activity('Finding the missing files').output.value",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"Source_files_Count": {
				"type": "String"
			},
			"Target_file_Count": {
				"type": "String"
			},
			"missed_files": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-10T17:09:33Z"
	}
}